<div>
  <div>
    <ul>
      <li><h3><%= link_to 'Show my friends', friends_list_path %></h3></li>
      <li><h3><%= link_to 'Me', users_tweets_path %></h3></li>
      <li><h3><%= link_to 'Tweet', users_new_tweet_path %></h3></li>
      <li><h3><%= link_to 'Edit Profile', users_edit_profile_path %></h3></li>
      <li><h3><%= link_to 'Add Friends', users_suggestions_path %></h3></li>
      <li><h3><%= link_to 'Show all messages from friends', friends_messages_path %></h3></li>
    </ul>
  </div>
</div>
