<!DOCTYPE html>
<html>
<head>
  <title>Yantwicli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if current_user %>
        <li>Welcome, <%= current_user.name %> <%= image_tag "#{current_user.avatar}" %> <%= link_to 'Sign out', signout_path %></li>
      <% else %>
        <li><%= link_to 'Sign in with Twitter', '/auth/twitter' %></li>
      <% end %>
    </ul>
  </div>

  <% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
  <% end %>
  
  <%= yield %>

</body>
</html>
